.herosection{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logovidcon{
   display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
#vid{
    width: 50%;
}
.logo,.logo1{
    position:absolute;
}
.logo1{
    top: 0%;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo1 h1{
    font-weight: bold;
}
.logo h1{
    
    font-size: 4em;
}
