.herosection{
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 10px 200px 10px 200px;
    text-align: center;
}

.herosection p{
    font-size: 25px;
    color: gray;
    text-align: justify;
}
.herosection h1{
    font-size: 40px;
}