.aboutus,.someth{
  
   width: 100%;
   display: flex;
  
   justify-content: center;
   align-items: center;
   padding-left:20vw;
   padding-right:20vw;
   padding-top: 2em;
   padding-bottom: 2em;
}
.aboutus{
   display: flex;
   background-color: #0f0f0f;
   color: aliceblue;
   flex-direction: column;
   margin-top: 30px;
}
.someth{
   background-color: rgb(204, 204, 204);
   color: black;
   flex-direction: column;
}
.abtmii{
   text-align:justify;
   margin-bottom: 3em;
   /* font-size: 20vw; */
}
.morein{
   text-align:justify;
   font-weight: bold;
   font-style: italic;
   color: rgb(1, 185, 124);
}
.head{
   text-align:justify;
  margin-bottom: 3em;
   font-weight: bold;
}
.content p{
      font-weight: bold;
      text-align:justify;
      margin-bottom: 3em;
}