.section2{
   background-color: black;
   padding: 10px 200px 10px 200px;
   /* display: flex; */
   /* flex-direction: column; */
   /* align-items: center; */
   /* text-align: center; */
}
.section2 p{
   font-size: 30px;
   color: white;
   /* text-align: justify; */
}
.section2 h1{
   color: white;
   font-size: 40px;
}